html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: "Arial";
  color: #555;
  line-height: 20px;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(12 83px);
  grid-auto-rows: 83px; 
}
.gallery_item{
  object-fit: cover; 
}










